@import "tailwindcss";

#root {
    width: 100%;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    --jet: hsla(263, 11%, 24%, 1);
    --duke-blue: hsla(239, 89%, 32%, 1);
    --true-blue: hsla(217, 60%, 47%, 1);
    --powder-blue: hsla(219, 40%, 90%, 1);
    --ivory: hsla(77, 100%, 97%, 1);

    --danger: hsla(1, 80%, 50%, 1);
    --borders-color: var(--jet);
    --background-color: white;
    --secondary-background-color: var(--jet);
    --white-text-color: white;
    --text-color: black;
    --primary-color: var(--true-blue);
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --secondary-background-color: var(--powder-blue);
        --borders-color: var(--ivory);
        --text-color: var(--ivory);
        --white-text-color: black;
        --primary-color: var(--duke-blue);
    }
}

.glowing-border {
    border: 4px solid white;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);

}

.progress-bar-toast{
    background: var(--primary-color);
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 1em;
    cursor: pointer;
}

.red-roll-button {
    background-color: theme('colors.red.600');
    color: theme('colors.white');
}

.orange-roll-button {
    background-color: theme('colors.orange.600');
    color: theme('colors.white');
}

.yellow-roll-button {
    background-color: theme('colors.yellow.600');
    color: theme('colors.white');
}

.green-roll-button {
    background-color: theme('colors.green.600');
    color: theme('colors.white');
}

.blue-roll-button {
    background-color: theme('colors.blue.600');
    color: theme('colors.white');
}

.purple-roll-button {
    background-color: theme('colors.purple.600');
    color: theme('colors.white');
}

.pink-roll-button {
    background-color: theme('colors.pink.600');
    color: theme('colors.white');
}
