@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-background: var(--background-color);
    --color-text: var(--text-color);
    --color-primary: var(--primary-color);
    --color-secondary-background: var(--secondary-background-color);
    --color-borders: var(--borders-color);
    --color-danger: var(--danger);
    --color-white-text: var(--white-text-color);
}

#root {
    width: 100%;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    --jet: hsla(263, 11%, 24%, 1);
    --duke-blue: hsla(239, 89%, 32%, 1);
    --true-blue: hsla(217, 60%, 47%, 1);
    --powder-blue: hsla(219, 40%, 90%, 1);
    --ivory: hsla(77, 100%, 97%, 1);

    --opposite-jet: hsla(263, 11%, 76%, 1);
    --opposite-duke-blue: hsla(239, 89%, 68%, 1);
    --opposite-true-blue: hsla(217, 60%, 53%, 1);
    --opposite-powder-blue: hsla(219, 40%, 10%, 1);
    --opposite-ivory: hsla(77, 100%, 3%, 1);

    --danger: hsla(1, 80%, 50%, 1);

    --background-color: white;
    --white-text-color: white;
    --text-color: black;
    --primary-color: var(--true-blue);
    --secondary-background-color: var(--jet);
    --borders-color: var(--jet);

}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --white-text-color: white;
        --text-color: black;
        --primary-color: var(--true-blue);
        --secondary-background-color: var(--jet);
        --borders-color: var(--jet);
    }
}



/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --white-text-color: black;
        --text-color: white;
        --primary-color: var(--opposite-true-blue);
        --secondary-background-color: var(--opposite-jet);
        --borders-color: var(--opposite-jet);
    }
}

.glowing-border {
    border: 4px solid var(--text-color);
    box-shadow: 0 0 8px var(--text-color);

}

.progress-bar-toast{
    background: var(--primary-color);
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    cursor: pointer;
}

.red-roll-button {
    @apply bg-red-600;
    @apply text-white;
}

.gray-roll-button {
    @apply bg-gray-600;
    @apply text-white;
}

.orange-roll-button {
    @apply bg-orange-600;
    @apply text-white;
}

.yellow-roll-button {
    @apply bg-yellow-600;
    @apply text-white;
}

.green-roll-button {
    @apply bg-green-600;
    @apply text-white;
}

.blue-roll-button {
    @apply bg-blue-600;
    @apply text-white;
}

.purple-roll-button {
    @apply bg-purple-600;
    @apply text-white;
}

.pink-roll-button {
    @apply bg-pink-600;
    @apply text-white;
}
